<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Typing Challenge</h1>
      <p class="has-text-centered is-italic">{{ randomText }}</p>
      <br />
      <div class="field">
        <input
          class="input"
          type="text"
          [value]="inputText"
          placeholder="Lorem ipsum dolor sit amet"
        />
      </div>
      <div class="box has-text-centered">
        <p class="help is-success" *ngIf="randomText === inputText">You Win!</p>
      </div>
    </div>
  </div>
</div>
